.Dimensions {
  position: relative;
  height: 100%;
  &__Width {
    display: flex;
    height: 300px;
    flex: 1 1 0;
  }
  &__Height {
    display: flex;
    height: 300px;
    margin-top: 40px;
    flex: 1 1 0;
    justify-content: center;
  }
  h3 {
    padding-left: 20px;
    padding-top: 30px;
    font-size: 22px;
    font-weight: 600;
    width: 145px;
  }

}

.WidthItem {
  cursor: pointer;
  width: 100%;
  position: relative;
  padding-top: 127px;
  display: flex;
  justify-content: center;
  //border: 1px solid $light-gray;
  &:first-child {
    border-left: 0;
  }
  &:last-child {
    border-right: 0;
  }
  &:only-child {
    .LargeCheckbox {
      display: none;
    }
  }
  &__Image {
    &__Title {
      text-align: center;
      font-size: 22px;
      line-height: 120%;
      font-weight: 600;
      margin-top: 10px;
      color: $dark-gray;
      &._active {
        color: $dark;
      }
    }
    &__Checkbox {
      margin-top: 12px;
      display: flex;
      justify-content: center;
    }
  }
  .LargeCheckbox {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .Checkbox {

  }
}

.HeightItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-top: 30px;
  &__Image {
    &__Title {
      margin-top: 10px;
      margin-bottom: 12px;
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      line-height: 130%;
      color: $dark-gray;
      &._active {
        color: $dark;
      }
    }
  }
}

.WidthImage {
  &__Arrow {
    width: 100%;
    height: 2px;
    background: #AAAAAA;
    position: relative;
    &__Right, &__Left {
      &:before {
        content: '';
        transform: rotate(45deg);
        position: absolute;
        top: 3px;
        display: block;
        height: 2px;
        width: 10px;
        border-radius: 10px;
        background: #AAAAAA;
      }
      &:after {
        content: '';
        transform: rotate(-45deg);
        position: absolute;
        top: -3px;
        display: block;
        height: 2px;
        width: 10px;
        border-radius: 10px;
        background: #AAAAAA;
      }
    }
    &__Right {
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
      &:after, &:before {
        right: -2px;
      }
    }
    &__Left {
      &:after, &:before {
        left: -2px;
      }
    }
  }
}

.HeightImage {
  &__Arrow {
    height: 100%;
    width: 2px;
    background: #AAAAAA;
    position: relative;
    &__Right, &__Left {
      &:before {
        content: '';
        transform: rotate(135deg);
        position: absolute;
        left: -7px;
        display: block;
        height: 2px;
        width: 10px;
        border-radius: 10px;
        background: #AAAAAA;
      }
      &:after {
        content: '';
        transform: rotate(-135deg);
        position: absolute;
        top: -3px;
        display: block;
        height: 2px;
        left: 7px;
        width: 10px;
        border-radius: 10px;
        background: #AAAAAA;
      }
    }
    &__Right {
      &:before {
        transform: rotate(-135deg);
      }
      &:after {
        transform: rotate(135deg);
        left: -1px;
      }
      &:after, &:before {
        bottom: 1px;
        top: auto;
      }
    }
    &__Left {
      &:before {
        transform: rotate(-135deg);
        left: -1px;
        top: 1px;
      }
      &:after {
        transform: rotate(135deg);
        left: -7px;
        top: 1px;
      }
    }
  }

}

.HeightImage, .WidthImage {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 17%;
    width: 66%;
    background: #FFFFFF;
    top: -2px;
    height: 4px
  }
}