.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PageWrapper {
  width: 900px;
  height: 600px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  font-family: $default-font;
  &__Sidebar {
    width: 225px;
    flex: 0 0 225px;
    &--Draw {
      order: 2
    }
  }
  &__Content {
    width: 100%;
  }
}