@import 'variables.scss';

@import 'global/Sidebar.scss';
@import 'global/PageWrapper.scss';

@import 'pages/Material.scss';
@import 'pages/Dimensions.scss';
@import 'pages/Margin.scss';
@import 'pages/Color.scss';
@import 'pages/Size.scss';
@import 'pages/Draw.scss';

html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.App {
  text-align: left;
}
.LargeCheckbox {
  width: 52px;
  height: 52px;
  border: 2px solid $dark;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  &._active {
    background: $dark;
  }
}

.Checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #AAAAAA;
  position: relative;
  &__Content {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 2px;
    top: 2px;
    background: $dark;
    display: none;
  }
  &._active {
    border-color: $dark;
  }
  &._active &__Content {
    display: block;
  }
}